*{
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(242, 222, 248);
}
.button{
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(216, 131, 233);
    color: aliceblue;
    padding: 12px 24px;
    display: inline-block;
    margin-top: 10px;
}
/* 헤더 */
header{
    background-color: rgb(216, 131, 233);
    padding: 20px;

}
/* 로고 */
#logo{
    text-align: center;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
}
/* 설명 */
header p{
    text-align: center;
    color: aliceblue;
}
/* 네비게이션 */
nav{
    background-color: aliceblue;
    text-align: center;
    padding: 13px;
}
nav a{
    color: rgb(12, 63, 107);
    text-decoration: none;
    padding: 0 20px;
}
/* 메인 페이지 */
.hero{
    background-color: rgb(243, 190, 243);
    text-align: center;
    padding: 50px;
}
.hero img{
    width: 20%;
    border-radius: 10px;
}
.hero h1{
    color: rgb(114, 75, 139);
    padding-bottom: 15px;
}
/* 최근에 다녀온 여행지 */
section{
    width: 50%;
    margin: 40px auto;
}
section h2{
    color: rgb(196, 135, 224);
}
section hr{
    border: 0;
    border-top: 3px solid rgb(230, 184, 199);
}
.travel{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 20px 0;
}
.travel img{
    width: 100%;
}



/* 푸터 */
footer{
    background-color: rgb(72, 63, 78);
    color: aliceblue;
    text-align: center;
    padding: 50px;
}
footer a{
    color: aliceblue;
    text-decoration: none;
}
footer h2{
    padding: 10px;
}
footer p{
    padding: 15px;
}
